@import '~antd/dist/antd.css';

.App {
  padding: 5rem 10rem;
  background: #fff;

}

.header {
  background: #fff;
}

.logo {
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-card-cover {
  height: 100%;
}

.pokemon-card-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 10%;
}

.pokemon-evo-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5%;
}

.pokemon-details-image {
  width: 100%;
  height: 400px;
  padding: 5%;
  object-fit: contain;
}